/* #section1 {
background-color: black;
} */
#header {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-style: oblique;
    font: bold;
    font-size: 60px;
    color: black;
}
#subHeader {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-style: oblique;
    font: bold;
    font-size: 20px;
    color: black
}
p {
    font-family: 'Varela', sans-serif;
    color: black;
}
body{
    background: #2ACE9B;
    background-size: cover;
    background-repeat: no-repeat;

    
}
img{
}
.section2 {
    text-align: center;
    position: relative;
    top: 120px;
    width: 800px;
    height: 100px;
    left: 370px;
    background-color: white;
    border:  8px black;
}
#dropmenu {
    text-align: center;
    width: 180px;
    
    font-family: 'Varela', sans-serif;
}
.choices {
    text-align: center;
}
.options {
    
    color:  black;
    font-size: 30px;
    font-family: 'Hammersmith+One', sans-serif;
}
#p2-card-1 {
    width: 650px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 20px;
    background-color: white;
    border: 1px solid black;

}
#p2-card-2 {
    width: 650px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 200px;
    background-color: white;
    border: 1px solid black;

}
#p2-card-3 {
    width: 650px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 20px;
    background-color: white;
    border: 1px solid black;

}
#p2-card-4 {
    width: 650px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 200px;
    background-color: white;
    border: 1px solid black;

}
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  position: relative;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*margin: 26px;*/
  margin:0;
  /*padding: 0 20px 0 0;*/
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 19px/normal "Antic", Helvetica, sans-serif;
  color: rgba(103,229,162,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
  position: static;
  margin: 0;
  padding: 0 20px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
    
}
#instr{
    position: relative;
    text-align: center;
}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(30,205,151);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
  color: rgb(30, 205, 151);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  padding-bottom: 16px;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
}

.enjoy-css:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}